* {
  box-sizing: border-box;
  font-size: 14pt;

}

body {
    background-color: #f9f9f9;
    font-family: Helvetica;
}

.container {
	max-width: 80%;
	margin: 0 auto;
	font-size: 1.5em;
	margin:10%;
	height: 400px;
}
.parallax{
	background: url('img/bg1.png') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
}